<div class="contaner">
  <div class="bar">
    <div class="bar-title">
      <div class="bar-title__name">
        Inbox
      </div>
      <div class="bar-title__register">
        (128)
      </div>
      <div class="bar-title__checkbox">
        <input type="checkbox">
      </div>
    </div>
    <div class="bar-option">
      <div class="bar-option__icon">
        trash
      </div>
      <div class="bar-option__icon">
        favourites
      </div>
      <div class="bar-option__icon">
        yyyy
      </div>
    </div>
    <div class="search">
      <input type="search__text">
      <input type="search__button">
    </div>
  </div>
</div>
