<div class="nav">
  <div class="cos">
    <div class="nav__logo">Sprysend</div>
    <div class="nav_guzik">Coprose</div>
  </div>
  <div class="nav-option">
    <div class="nav-option__item">
      <div class="nav-option__select">Mails</div>
      <div class="nav-option__register">1</div>
    </div>
    <div class="nav-option__item">
      <div class="nav-option__select">favourites</div>
      <div class="nav-option__register">23</div>
    </div>
    <div class="nav-option__item">
      <div class="nav-option__select">sent</div>
      <div class="nav-option__register"></div>
    </div>
    <div class="nav-option__item">
      <div class="nav-option__select">trash</div>
      <div class="nav-option__register"></div>
    </div>
    <div class="nav-option__item">
      <div class="nav-option__select">more</div>
      <div class="nav-option__register"></div>
    </div>
  </div>
  <div class="nav__brake"></div>
  <div class="nav-option">
    <div class="nav-option__item">
      <div class="nav-option__select">Settings</div>
    </div>
    <div class="nav-option__item">
      <div class="nav-option__select">Help</div>
    </div>
  </div>
</div>
